#root{
    /*color variables*/
    -fx-background:  #121212;
    -fx-primary-content: #121212;
    -fx-secondary-content: #1A1A1A;
    -fx-strong-accent: #00A8E8;
    -fx-light-accent: #242424;
    -fx-text: #ffffff;
    -fx-light-text: #9A9A9A;
    /*plum: #EC9DED*/

    -fx-pref-height: 100%;
    -fx-pref-width: 100%;

    -fx-background-color: -fx-background;
    -fx-font-size: 1.2em;
    -fx-smooth: true;
    -fx-spacing: .25em;
    -fx-padding: 1.25em .75em .75em .75em;
}

#chatsContainer, #currentChatContainer {
    -fx-background-radius: .4em;
}
/*left side of layout, containing chats menu*/
#chatsContainer{
    -fx-padding: 0 .75em 0 .75em;
    -fx-background-color: -fx-secondary-content;
    -fx-text-fill: -fx-text;
    -fx-max-width: 40em;
    -fx-min-width: 20em;
    -fx-spacing: .2em;
}

#chatsContainer > .contact, .focusedContact{
    -fx-padding: .6em .4em .6em .4em;
}

#chatsTitle{
    -fx-font-weight: bold;
    -fx-font-size: 1.6em;
    -fx-padding: .8em .4em .8em .4em;
}

.contact{
    -fx-background-radius: .2em;
    -fx-spacing: .4em;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
}

.contactName{
    -fx-font-weight: bolder;
    -fx-text-fill: -fx-text;
}

.contactStatus{
    -fx-text-fill: -fx-light-text;
}


.contact:hover{
    -fx-background-color: -fx-light-accent;
}

.focusedContact{
    -fx-spacing: .4em;
    -fx-background-color: -fx-light-accent;
    -fx-background-radius: .2em;
    -fx-border-radius: .2em;
    -fx-border-color: -fx-strong-accent;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1px;
}

/*right side of layout, containing the current chat*/
#currentChatContainer {
    -fx-background-color: -fx-background;
}

/*top*/
#chatMenuBar{
    -fx-background-color: -fx-secondary-content;
    -fx-text-fill: -fx-text;
    -fx-padding: 1em 3em 1em 3em;
}

#contactName{
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
}

#callButton{
    -fx-alignment: center-right;
}

/*middle*/
#currentChat{
    -fx-background-color: -fx-primary-content;
    -fx-vbar-policy: always;
    -fx-hbar-policy: never;
    -fx-pannable: true;
}

#currentChat > .viewport{
    -fx-background-color: transparent;
}

#messageContainerWrapper{
    -fx-alignment: center;
}

#messageContainer{
    -fx-padding: .5em 3em;
    -fx-spacing: .5em;
    -fx-max-width: 80em;
}

.sentMessages{
    -fx-label-padding: .5em .75em .5em .5em;
    -fx-text-alignment: center;
    -fx-text-fill: -fx-text;
    -fx-border-color: -fx-strong-accent;
    -fx-border-width: 2px;
    -fx-border-radius: 3em 3em 1em 3em;
    -fx-background-radius: 3em 3em 1em 3em;
    -fx-background-color: -fx-strong-accent;
    -fx-opacity: 1;
}

.sentMessages:hover{
    -fx-opacity: .95;
}

.recievedMessages{
    -fx-label-padding: .5em .75em .5em .5em;
    -fx-text-alignment: center;
    -fx-text-fill: -fx-text;
    -fx-border-color: -fx-light-accent;
    -fx-border-width: 2px;
    -fx-border-radius: 3em 3em 3em 1em;
    -fx-background-radius: 3em 3em 3em 1em;
    -fx-background-color: -fx-light-accent;
}

.recievedMessages:hover{
    -fx-opacity: .95;
}


/*bottom*/
#sendContainer{
    -fx-pref-height: 1em;
    -fx-spacing: 1em;
    -fx-padding: .75em 3em .75em 3em;
    -fx-background-color: -fx-secondary-content;
}

#sendTextArea{
    -fx-border-width: 0 0 .1em 0;
    -fx-border-style: solid;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-pref-rows: 1;
    -fx-wrap-text: true;
    -fx-text-fill: -fx-text;
    -fx-alignment: center-left;
    -fx-padding: .2em .6em 0 .6em;
}

#sendTextArea *{
    -fx-background-color: transparent;
}

#sendTextArea:hover{
    -fx-background-color: -fx-light-accent;
}

#sendTextArea:focused{
    -fx-background-color: -fx-light-accent;
    -fx-border-color: -fx-strong-accent ;
}

#sendButton{
    -fx-background-radius: 3em;
    -fx-background-color: -fx-strong-accent;
    -fx-padding: .2em .6em .2em .6em;
    -fx-min-width: 6em;
    -fx-min-height: 3em;
    -fx-text-fill: -fx-text;
    -fx-effect: dropshadow(three-pass-box, rgba(50,50,50,0.8), 10, 0, 2,2);
}

#sendButton:hover{
    -fx-opacity: .9;
}

/*scrollbars*/
.scroll-bar:vertical .track{
    -fx-background-color: -fx-primary-content;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: -fx-secondary-content;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button{
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}
