*{
    /*color variables*/
    -fx-background:  #0f0f0f;
    -fx-primary-content: #121212;
    -fx-secondary-content: #1c1c1c;
    -fx-strong-accent1: #0080b3;
    -fx-strong-accent2: #9B5DE5;
    -fx-light-accent: #292929;
    -fx-text: #ffffff;
    -fx-light-text: #9A9A9A;

    -fx-accent-gradient: linear-gradient(from 0% 0% to 100% 100%, -fx-strong-accent1, -fx-strong-accent2);
    /*plum: #EC9DED*/
}

#root{
    -fx-background-color: -fx-background;
    -fx-font-size: 1.2em;
    -fx-smooth: true;
    -fx-spacing: .5em;
    -fx-padding: 1.25em .75em .75em .75em;
}

#applicationBarHBox{
    -fx-background-color: -fx-primary-content;
    -fx-padding:  0;
    -fx-alignment: center-left;
    -fx-spacing: .25em;
}

#applicationTitleHBox{
    -fx-background-color: -fx-light-accent;
    -fx-background-radius: .5em;
}

#applicationTitleLabel, #applicationSloganLabel{
    -fx-padding: 0 .5em;
    -fx-min-height: 40px;
}

#applicationTitleLabel{
    -fx-font-size: 1.6em;
    -fx-font-weight: bold;
    -fx-background-color: -fx-accent-gradient;
    -fx-background-radius: .5em;
}

#applicationSloganLabel{
    -fx-font-weight: bolder;
}

#chatHBox{
    -fx-spacing: .5em;
}

.button, .contactHBox, .focusedContact{
    -fx-cursor: pointer;
}

#contactVBox, #currentChatContainer {
    -fx-background-radius: .4em;
}
/*left side of layout, containing chats menu*/
#contactVBox{
    -fx-padding: 0 .75em 0 .75em;
    -fx-background-color: -fx-secondary-content;
    -fx-text-fill: -fx-text;
    -fx-pref-width: 22em;
    -fx-min-width: 20em;
    -fx-max-width: 27em;
    -fx-spacing: .2em;
}

#contactVBoxTitle{
    -fx-font-weight: bold;
    -fx-font-size: 1.6em;
    -fx-padding: .8em .4em .4em .4em;
}

#contactSearchHBox, #contactScrollpaneVBox{
    -fx-spacing: .2em;
    -fx-padding: .5em 0;
}

#contactSearchTextField{
    -fx-background-color: -fx-light-accent;
    -fx-border-radius: .5em;
    -fx-background-radius: .5em;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: -fx-accent-gradient;
    -fx-text-fill: -fx-text;
}

#contactSearchButton{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-accent-gradient;
    -fx-font-weight: bold;
    -fx-background-radius: .5em;
}

#contactSearchButton:hover{
    -fx-background-color: -fx-light-accent;
}

#contactScrollpaneVBox > .contactHBox, .focusedContact{
    -fx-padding: .6em .4em .6em .4em;
}

#contactScrollpane{
    -fx-vbar-policy: never;
    -fx-hbar-policy: never;
    -fx-pannable: true;
    -fx-spacing: .2em;
    -fx-background-color: transparent;
}

#contactScrollpane > .viewport{
    -fx-background-color: transparent;
}

#contactSearchTextField > *{
    -fx-background-color: transparent;
}

#contactSearchResultHBox{
    -fx-font-size: 1em;
    -fx-padding: .5em;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1px;
    -fx-border-color: -fx-light-accent;
}

#contactSearchResultHBox > .label{
}

.contactHBox, .focusedContact{
    -fx-background-radius: .2em;
    -fx-border-radius: .2em;
    -fx-spacing: .75em;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-border-width: 1px;
}

.contactHBox{
    -fx-background-radius: .2em;
    -fx-border-color: transparent;
}

.contactHBox:hover{
    -fx-background-color: -fx-light-accent;
}

.focusedContact{
    -fx-background-color: -fx-light-accent;
}

.contactProfilePicture{
    -fx-background-color: -fx-accent-gradient;
    -fx-background-radius: 2px;
}

.contactVBox{
    -fx-alignment: center-left;
}

.contactName{
    -fx-font-weight: bolder;
    -fx-text-fill: -fx-text;
}

.contactStatus{
    -fx-text-fill: -fx-light-text;
    -fx-text-overrun: ellipsis;
}

.contactLastMessageTimeStampLabel{
    -fx-font-size: .8em;
}

/*right side of layout, containing the current chat*/
#currentChatContainer {
    -fx-background-color: -fx-background;
}

/*top*/
#chatMenuBar{
    -fx-background-color: -fx-secondary-content;
    -fx-text-fill: -fx-text;
    -fx-padding: .75em 1.5em;
    -fx-spacing: 1em;
    -fx-background-radius: .4em .4em 0 0;
}

#chatMenuBarStackPane{
}

#chatMenuBarVBox{
    -fx-alignment: center-left;
}

#chatMenuBarContactName{
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

#chatMenuBarStatus{
    -fx-text-fill: -fx-light-text;
    -fx-text-overrun: ellipsis;
}

#chatMenuBarCallButton{
    -fx-background-radius: .2em;
    -fx-background-color: -fx-accent-gradient;
    -fx-padding: .2em .6em .2em .6em;
    -fx-min-width: 4em;
    -fx-min-height: 3em;
    -fx-text-fill: -fx-text;
    -fx-effect: dropshadow(three-pass-box, rgba(50,50,50,0.8), 10, 0, 2,2);
    -fx-cursor: pointer;
}

/*middle*/
#currentChat{
    -fx-background-color: -fx-primary-content;
    -fx-vbar-policy: always;
    -fx-hbar-policy: never;
    -fx-pannable: true;
}

#currentChat > .viewport{
    -fx-background-color: transparent;
}

#currentChatStackPane{
    -fx-alignment: center;
}

#messageContainer{
    -fx-padding: .5em 3em;
    -fx-spacing: .6em;
    -fx-max-width: 80em;
}

.messageVBox{
    -fx-spacing: .2em;
}

.messageWrapper{
    -fx-spacing: .4em;
}

.sentMessages, .recievedMessages{
    -fx-padding: .6em;
    -fx-text-alignment: center;
    -fx-border-width: 2px;
    -fx-background-radius: 1em;
}

.sentMessages{
    -fx-text-fill: -fx-text;
    -fx-background-color: -fx-accent-gradient;
}

.recievedMessages{
    -fx-text-fill: -fx-text;
    -fx-background-color: -fx-light-accent;
}

.timeStamp{
    -fx-min-width: 2.8em;
    -fx-font-size: .7em;
}

.messageImage{
    -fx-effect: dropshadow(three-pass-box, rgba(50,50,50,0.8), 10, 0, 1,1);
    -fx-arc-height: 1em;
    -fx-arc-width: 1em;
}

.dayTagStackPane{
    -fx-padding: .5em;
}
.dayTagStackPane > .label{
    -fx-font-size: .9em;
    -fx-background-radius: .5em;
    -fx-background-color: -fx-light-accent;
    -fx-padding: .25em .5em;
}

/*bottom*/
#sendContainer{
    -fx-pref-height: 1em;
    -fx-spacing: 1em;
    -fx-padding: .5em 1.5em;
    -fx-background-color: -fx-secondary-content;
    -fx-background-radius: 0 0 .4em .4em;
    -fx-alignment: center;
}

#sendTextArea{
    -fx-background-color: transparent;
    -fx-wrap-text: true;
    -fx-pref-rows: 1;
    -fx-alignment: center-left;
    -fx-text-fill: -fx-text;
    -fx-padding:.6em;
}

#sendTextArea *{
    -fx-background-color: transparent;
    -fx-padding: 0;
}

#imageDragVBox{
    -fx-border-width: .1em;
    -fx-border-color: -fx-light-accent;
    -fx-border-radius: .5em;
    -fx-border-style: dashed;
    -fx-background-color: transparent;
    -fx-padding: 0 .5em;
    -fx-font-weight: bold;
    -fx-font-size: 1.4em;
    -fx-alignment: center;
    -fx-min-width: 2.8em;
}

#imageDragVBox > .label{
    -fx-text-fill: -fx-accent-gradient;
}

#imageDragVBox:hover{
    -fx-border-color: -fx-accent-gradient;
    -fx-background-color: -fx-light-accent;
}

#sendButton{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-accent-gradient;
    -fx-font-weight: bold;
    -fx-min-width: 3.75em;
    -fx-font-size: 1.25em;
    -fx-background-radius: .5em;
}

#sendButton:hover{
    -fx-background-color: -fx-light-accent;
}

/*scrollbars*/
.scroll-bar:vertical .track{
    -fx-background-color: -fx-primary-content;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: -fx-secondary-content;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button{
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

/*popup*/

.popupWrapperStackpane{
    -fx-background-color: rgba(41, 41, 41, .5);
    -fx-padding: 12em;
    -fx-background-radius: .5em;
    -fx-effect: dropshadow(three-pass-box, rgba(50,50,50,0.8), 10, 0, 2,2);
}

